<div class="full" *ngIf="!showByLocation()" >
    <div id="slider1_container" style="position: relative; top: 0px; left: 0px; bottom:0px; right:0px; width: 809px; height: 456px; overflow: hidden; ">
            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1024px; height: 456px; overflow: hidden;">
              
               <div *ngFor="let slide of slideshow" >
                    <div class="slidd_cont">

                        <!-- Slides Container -->
                        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 809px; height: 150px;
                            overflow: hidden;">
							<div *ngFor="let camera of slide.cameras"class="image-container">
                                <app-camera-view [camera]="camera" class="camera_slide"></app-camera-view>
                            </div>
                            
                            </div>
                        <!-- Bullet Navigator Skin Begin -->
                        <!-- bullet navigator container -->
                        <div u="navigator" class="jssorb03" style="position: absolute; bottom: 10px; right: 10px;">
                            <!-- bullet navigator item prototype -->
                            <div u="prototype" style="position: absolute; width: 21px; height: 21px; text-align:center; line-height:21px; color:white; font-size:12px;"><NumberTemplate></NumberTemplate></div>
                        </div>
                        <!-- Bullet Navigator Skin End -->
                    </div>
                </div> 
                
            
			</div>


              
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb02" style="position: absolute; bottom: 8px; left: 6px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype" style="POSITION: absolute; WIDTH: 21px; HEIGHT: 21px; text-align:center; line-height:21px; color:White; font-size:12px;"><NumberTemplate></NumberTemplate></div>
        </div>
        <!-- Bullet Navigator Skin End -->
            <a style="display: none" href="http://www.jssor.com">javascript</a>
        </div>
   </div>
   <div class="full" *ngIf="showByLocation()">
    <div class="slideshow-menus-wrapper" >
             <a href="#" *ngFor="let i of activeView.slideshows; " [ngClass]="{'active': i==current_location }" (click)="slideTo(i)" >{{i.view_name}}</a>
    </div>

    <div *ngIf="checkLocation()"  id="slider1_container" style="cursor: move; position: absolute; left: 0px; top: 0px; right:0; bottom: 0px; overflow: hidden;">
            

            <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; right:0; bottom: 0px; overflow: hidden;">
                        
                <div *ngFor="let camera of current_location.cameras"class="image-container">
                                <app-camera-view [camera]="camera" class="camera_slide"></app-camera-view>
                            </div>
			</div>
                            
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb02" style="position: absolute; bottom: 8px; left: 6px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype" style="POSITION: absolute; WIDTH: 21px; HEIGHT: 21px; text-align:center; line-height:21px; color:White; font-size:12px;"><NumberTemplate></NumberTemplate></div>
        </div>
        <!-- Bullet Navigator Skin End -->
            <a style="display: none" href="http://www.jssor.com">javascript</a>
        </div>
   </div>
   
   
   
   
   
   
   
   
    
