<div *ngIf="isSlideshow()">
 <app-slideshow [activeCameras]="activeView.cameras"></app-slideshow>
</div>
<div *ngIf="isGrid()">
  <div class="grid{{activeView.cameras.length}} full">
    <app-camera-view *ngFor="let i of activeView.cameras;let last= last" [camera]="i" class="{{activeView.view_type}} {{last?'last_one':''}}" ></app-camera-view>
  </div>

</div>

<div *ngIf="isMultipleSlideshow()">
    <app-multiple-slideshow *ngIf="!activeView.byLocation" class="full"  [slideshow]="activeView.slideshows" ></app-multiple-slideshow>
    <app-multiple-slideshow *ngIf="activeView.byLocation" class="full"  [slideshow]="activeView.slideshows" [activeView]="activeView" ></app-multiple-slideshow>
</div>


